@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Caviar Dreams";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url("/fonts/CaviarDreams_Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Caviar Dreams";
  font-style: italic;
  font-weight: 800;
  font-display: swap;
  src: url("/fonts/CaviarDreams_BoldItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Caviar Dreams";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/CaviarDreams.ttf") format("truetype");
}

@font-face {
  font-family: "Caviar Dreams";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/CaviarDreams_Italic.ttf") format("truetype");
}

@font-face {
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("/fonts/Proxima Nova Light.ttf") format("truetype");
}

@font-face {
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/Proxima Nova Reg.ttf") format("truetype");
}

@font-face {
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("/fonts/Proxima Nova Bold.ttf") format("truetype");
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(250px, 1fr)
  ); /* Responsive columns */
  grid-auto-rows: 1fr; /* Ensure all rows have equal height */
  gap: 1.5rem; /* Prevent overlap */
}
.card {
  min-height: 350px; /* Consistent card height */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Timer Widget */

* {
  box-sizing: border-box;
}

.countdown {
  margin: 100px auto;
  width: 50%;
  display: flex;
  gap: 30px;
  font-family: sans-serif;
}

.time-section {
  text-align: center;
  font-size: 30px;
}

.time-group {
  display: flex;
  gap: 10px;
}

.time-segment {
  display: block;
  font-size: 100px;
  font-weight: 900;
  width: 100px;
}

.segment-display {
  position: relative;
  height: 100%;
}

.segment-display__top,
.segment-display__bottom {
  overflow: hidden;
  text-align: center;
  width: 100%;
  height: 50%;
  position: relative;
}

.segment-display__top {
  line-height: 1.5;
  color: #eee;
  background-color: #de6f67;
}

.segment-display__bottom {
  line-height: 0;
  color: #fff;
  background-color: #de6f67;
}

.segment-overlay {
  position: absolute;
  top: 0;
  perspective: 400px;
  height: 100%;
  width: 100px;
}

.segment-overlay__top,
.segment-overlay__bottom {
  position: absolute;
  overflow: hidden;
  text-align: center;
  width: 100%;
  height: 50%;
}

.segment-overlay__top {
  top: 0;
  line-height: 1.5;
  color: #fff;
  background-color: #de6f67;
  transform-origin: bottom;
}

.segment-overlay__bottom {
  bottom: 0;
  line-height: 0;
  color: #eee;
  background-color: #de6f67;
  border-top: 2px solid #de6f67;
  transform-origin: top;
}

.segment-overlay.flip .segment-overlay__top {
  animation: flip-top 0.8s linear;
}

.segment-overlay.flip .segment-overlay__bottom {
  animation: flip-bottom 0.8s linear;
}

@keyframes flip-top {
  0% {
    transform: rotateX(0deg);
  }
  50%,
  100% {
    transform: rotateX(-90deg);
  }
}

@keyframes flip-bottom {
  0%,
  50% {
    transform: rotateX(90deg);
  }
  100% {
    transform: rotateX(0deg);
  }
}

/* Envelope Button */
